#content.has-content-width 
    #ordination-container
        p.top-line Geöffnet Donnerstags ab 16:00 Uhr ausschließlich nach Terminvereinbarung!
        p Unsere Ordination finden Sie hier:</br>
            a(href="https://www.google.at/maps/place/Grillparzerstraße+62,+8010+Graz/@47.0845193,15.4382813,17z") Grillparzerstraße 62, 8010 Graz
        p Anfahrt zu unserer Ordination vom Geidorfplatz über die Bergmanngasse stadtauswärts.
        p In die Richard-Wagner-Gasse rechts abbiegen.
        p Die erste Straße links abbiegen (Grillparzerstraße). 
        p Unsere Ordination befindet sich im Gebäude am Ende der Straße (Grillparzerstraße 62) im Erdgeschoß des Hinterhauses.
        //- p Terminvereinbarung: </br> 
        //-     a(href="tel:+4366488188728") +43 (0) 664 881 887 28
        //-     | </br>
        //-     a(href="mailto:termin@drgary.at") termin@drgary.at
        a#google-maps-frame(href="https://www.google.com/maps/place/Grillparzerstra%C3%9Fe+62,+8010+Graz,+%C3%96sterreich/@47.0852116,15.4401504,17z/data=!3m1!4b1!4m6!3m5!1s0x476e3591e6b01ce5:0xaa895b1370d62246!8m2!3d47.0852116!4d15.4401504!16s%2Fg%2F11gdyyxbvr")
            #google-maps-address-frame
                h3 Grillparzerstraße 62
                p Grillparzerstraße 62, 8010 Graz, Österreich
        .spacer
        p Die Terminvereinbarung erfolgt direkt telefonisch Montag bis Freitag von 8:00 bis 18:00 Uhr unter der Telefonnummer +43 (0)664/881 887 28.</br></br> Sie können uns aber auch jederzeit eine Nachricht schreiben - dann melden wir uns zum nächst möglichen Zeitpunkt zurück.
        include ../../appointmentbuttonmodule/appointmentbutton.pug
        
        p Ich bitte darum vereinbarte Termine, so sie nicht eingehalten werden können, vorab telefonisch oder per E-Mail abzusagen.
    #imageGallery
        a#list-item1(data-pswp-src="/img/gallery-1.jpg" data-pswp-width="1843" 
    data-pswp-height="1229")
            #gallery-image1.preview
        a#list-item2(data-pswp-src="/img/gallery-2.jpg" data-pswp-width="1843" 
    data-pswp-height="1229")
            #gallery-image2.preview
        a#list-item3(data-pswp-src="/img/gallery-3.jpg" data-pswp-width="1843" 
    data-pswp-height="1229")
            #gallery-image3.preview
        a#list-item4(data-pswp-src="/img/gallery-4.jpg" data-pswp-width="1843" 
    data-pswp-height="1229")
            #gallery-image4.preview
        a#list-item5(data-pswp-src="/img/gallery-5.jpg" data-pswp-width="1843" 
    data-pswp-height="1229")
            #gallery-image5.preview
        a#list-item6(data-pswp-src="/img/gallery-6.jpg" data-pswp-width="1843" 
    data-pswp-height="1229")
            #gallery-image6.preview
        a#list-item7(data-pswp-src="/img/gallery-7.jpg" data-pswp-width="1843" 
    data-pswp-height="1229")
            #gallery-image7.preview
        a#list-item8(data-pswp-src="/img/gallery-8.jpg" data-pswp-width="2800" 
    data-pswp-height="1660")
            #gallery-image8.preview

    .tail